/*
Cambio il font a livello globale
*/
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Merriweather:wght@300&family=Montserrat:wght@100&family=Roboto&display=swap');


body {
    font-family: 'Readex Pro', sans-serif;
    margin: 0;
    padding: 0;
}

address {
    display: inline-block;
    font-style: normal;
}

time {
    color: grey;
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    top: 0;
    z-index: 999;
    -webkit-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.3); 
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.1);
}

footer {
    color: lightgray;
}

main {
    position: relative;
    max-width: 800px;
    margin: auto;
    margin-top: 70px;
    padding-top: 10px;
}

article {
    margin: 35px;
}


a{
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}






/* Stile per la creazione di un menu responsive */
nav {
    width: 100%;
    height: fit-content;
    position: absolute;
    overflow: hidden;
    right: 0;

}
nav ul a {
    display: block;
    padding: 0px 25px;
    height: 70px;
    line-height: 75px;
    color: #000000;
    background-color: #fff;
    transition: all 0.3s ease;
}
nav ul a:hover {
    background-color: rgb(0, 0, 0);
    color: #fff;
}
nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

header h2 {
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
}






/* Hamburger Menu Icon */
.hamb{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 40px 20px;
    z-index: 999;
}/* Style label tag */

.hamb-line {
    background-color: #000000;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after {
    background-color: #000000;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -6px;
}

.side-menu {
    display: none;
} /* Hide checkbox */



/* Toggle menu icon */

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/*
media con min-width: 768px significa:
Se la dimensione della finestra del browser è ALMENO
768px, allora applichi le regole dentro il blocco seguente
*/
@media (min-width: 768px) { 

    nav{
        max-height: none;
        top: 0;
        width: fit-content;
    }
    nav ul li{
        float: left;
    }
    nav ul a:hover{
        background-color: black;
        color: #fff;


    }

    .hamb{
        display: none;
    }
}
    



* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  
  .hero{
    width :100%;
    height: 100vh;
    background-image: url(images/sfondonatura4.gif);
    background-size:cover;
    background-position:center;
    position:absolute;
    overflow:hidden;
  
  
  }
  
  .logo{
    width: 100px;
    cursor:pointer;
  }
  
  .navbar{
    margin: auto;
    display:flex;
    justify-content: space-between;
  }
  
  .menudx{
    color: white;
    padding: 10px 25px;
    outline:none;
    cursor:pointer;
  }
  
  
  .ScrittaAlCentro{
    color:aliceblue;
    position:absolute;
    top:50%;
    left:8%;
    transform: traslateY(-50%);
    z-index:2;
  
  }
  
  button{
    color: aliceblue;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    outline:none;
    cursor:pointer;
  }
  
  .farfalle img{
    width:50px;
    animation: AnimazioneFarfalle 7s linear infinite;
  }
  
  .farfalle {
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;  
  }
  
  @keyframes AnimazioneFarfalle{
    0%{
      transform: translateY(0);
      opacity: 0;
    }
    50%{
     
      opacity: 1;
    }
    70%{
      
      opacity: 1;
    }
    100%{
      transform:translateY(-80vh);
      opacity: 0;
    }
  }
  
  